:root {
  --primary: #fe0d3a;
  --black: #20151a;
  --white: #ffffff;
  --opac: #ffffff0e;
  --border: #ffffff33;
  --list: #ffffffb0;
  --black-opac: #1e111671;
  --duration: .45s ;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "sour";
  font-style: italic;
  src: url("./fonts/SourGummy-Italic-VariableFont_wdth\,wght.ttf");
}
    
html,
body {
  max-width: 100vw;
  /*overflow-x: hidden; // due to learning boy animation overflow */ 
  overflow-y: visible;  /* due to learning boy animation overflow */
}

body {
  color: var(--white);
  background-image: url("/images/bg.jpg");
  background-position: center;
  font-family: "roboto";
  letter-spacing: 0.8px;
  padding: 0 10%;
  position: relative;
}

body.light {
  color: var(--black);
  background-image: url("/images/bg_light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
  scroll-behavior: smooth;
}

.title {
  position: relative;
  margin-top: 48px;
  margin-left: 30px;
  margin-bottom: 24px;
}
.title::before {
  content: "";
  height: 6px;
  width: 24px;
  position: absolute;
  left: -30px;
  top: 40%;
  background-color: var(--primary);
}

/**
Project modal
*/

.main-modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-color: var(--black);
  z-index: 10;
  padding: 30% 10%;
}

.main-modal.benkyo {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #20151a 85%), url("/images/projects/benkyo/benkyo_1.png");
}
.main-modal.ari {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #20151a 85%), url("/images/projects/ari/application_gestion_de_projet_4.png");
}
.main-modal.prs {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #20151a 85%), url("/images/projects/prs/image1.png");
}
.main-modal.etalk {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #20151a 85%), url("/images/projects/ari/application_gestion_de_projet_4.png");
}
.main-modal.manaocv {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #20151a 85%), url("/images/projects/ari/application_gestion_de_projet_4.png");
}
.main-modal.active {
  display: block;
}

h3:not(#function), h4, h5 {
  font-family: "sour";
  font-style: italic;
}

/**
Home light mode
*/

.light header {
  
  svg {
    color: var(--black);
    transition: fill .3s ease;
  }
  svg:hover {
    fill: var(--black) !important;
  }

  .menu__item .icon {
    fill: var(--black)
  }
  .menu__item.active .icon {
    fill: var(--primary);
  }
  .menu__item.active::after {
    background-color: var(--primary);
  }
  .menu__text.active {
    color: var(--primary);
  }

  a {
    color: var(--black) !important;
  }
  a:hover {
    color: var(--primary) !important;
  }
}

/*
About light mode
*/

.light #about {
  article:nth-child(2) {
    background-color: var(--black-opac);
    color: var(--white);
  }

  video {
    position: absolute;
    right: 0;
    bottom: -56px;
    z-index: 3;
  }

  #skills div {
    background-color: var(--black-opac);
  }
}

/*
Projects light
*/
.light #project #image_outline{
  background-color: var(--black-opac);
}

/* Contact light */
.light #contact_list {
  svg {
    fill: var(--black);
  }
  a {
    color: var(--black);
  }
  span {
    color: var(--black);
  }
}

/* Light modal */
.light .main-modal {
  background-color: var(--white);
  color: var(--black);
}

.light .main-modal.benkyo {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #fff 85%), url("/images/projects/benkyo/benkyo_1.png");
}
.light .main-modal.ari {
  img {
    border: 1px solid var(--black);
  }
  background-image: linear-gradient(to bottom, var(--opac) 30%, #fff 85%), url("/images/projects/ari/application_gestion_de_projet_4.png");
}
.light .main-modal.prs {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #fff 85%), url("/images/projects/prs/image1.png");
}
.light .main-modal.etalk {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #fff 85%), url("/images/projects/ari/application_gestion_de_projet_4.png");
}
.light .main-modal.manaocv {
  background-image: linear-gradient(to bottom, var(--opac) 30%, #fff 85%), url("/images/projects/ari/application_gestion_de_projet_4.png");
}

.description, small, .about_me {
  opacity: 0;
  transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .3s ease;
  transition-delay: .5s;
}

.description {
  transform: translateY(30px);
}

small {
  transition-delay: 3.5s;
  display: block;
  transform: translateX(30px);
}

.about_me {
  transform: translateY(30px);
}

.visible {
  transform: translate(0) !important;
  opacity: 1 !important;
}

/* begin : Home */

/* Text animation*/
.hello {
  font-family: "sour";
  span {
    font-size: 32px;
  }
}

/* end : Home */

/* begin : Responsive*/
@media screen and (max-width: 800px) {
  .title {
    text-align: center;
  }
  .title::before {
    background-color: transparent!important;
  }

  .home-body {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 36px;

    h3::before, .hello-container::before {
      background-color: transparent!important;
    }
  }

  #about {
    .about_me {
      text-align: center;
    }

    #articles {
      flex-direction: column;
      row-gap: 24px;
    }

    .skills-title {
      width: 100px;
      margin: 0 auto;
    }

    #skills {
      flex-direction: column;
      align-items: center;
      row-gap: 12px;
    }
  }
}

@media screen and (max-width: 679px) {
  .feather-sun, .feather-moon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 599px) {
  #projects {
    .articles {
      flex-direction: column;
      align-items: center;
      row-gap: 12px;
    }
  }
}