:root {
  --primary: #fe0d3a;
  --black: #1e1116;
  --white: #ffffff;
  --opac: #ffffff0e;
  --border: #ffffff33;
  --list: #ffffffb0;
}

@font-face {
  font-family: "montserrat";
  src: url("./fonts/Montserrat-Regular.otf") format("otf");
}
    
html,
body {
  max-width: 100vw;
  /*overflow-x: hidden; // due to learning boy animation overflow */ 
  overflow-y: visible;  /* due to learning boy animation overflow */
  padding: 0 10%;
}

body {
  color: var(--white);
  background: var(--black);
  font-family: "montserrat";
  letter-spacing: 0.8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
