.main {
    padding-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 3px;
    background-color: var(--opac);

    .menu_item {
        display: inline-block;
        margin-left: 24px;
        .link {
            color: var(--white);
            transition: color .2s ease;
        }
    }
    .menu_item:hover {
        .link {
            color: var(--primary);
        }
    }
}

.body {
    margin: 48px auto 0;
    display: flex;
    justify-content: space-between;

    .left {
        margin-left: 12px;
        .title {
            margin-bottom: 24px;
            position: relative;
        }
        .description_container {
            position: relative;
        }
        .title::before, .description_container:before {
            content: "";
            height: 100%;
            width: 5px;
            position: absolute;
            left: -12px;
            background-color: var(--primary);
        }
        .description_label {
            font-style: italic;
            color: var(--primary);
        }
    }
    
}

/* .languages_switcher {
    border: transparent;
    background-color: transparent;
    color: var(--white);
} */